a{
    text-decoration: none;
    color: black;
}

.search {
    height: 40px;
    width: 300px;
    border: 1px solid #808080;
    position: fixed; top: 17.5px; right: 80px;
  }
  
.search input {
    font-size: 16px;
    padding: 10px;
    border: none;
    float: left;
    outline: none;
}

.search button {
    width: 50px;
    height: 100%;
    border: none;
    background: #117efa;
    float: right;
    color: white;
}

.search button:hover{
    background: #117eface;
}

.search button:active{
    background: #117efa;
}

.logo{
    font-family: 'Bakbak One', cursive;
    font-size: 2.4rem;
    margin-left: 20px;
    margin-top: 5px;
    color: #117efa;
    font-weight: 900;
    position: fixed;
}

.login_join{
    position: fixed; top: 18.5px; right: 430px;
    color: black;
    border: solid #808080 1px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

.login input{
    width: 400px;
    height: 50px;
    font-size: 18px;
    position: relative;
    top: 200px;
}

#id{
    border-bottom: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#pw{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#login_button{
    position: relative;
    top: 250px;
    font-size: 23px;
    background-color:#117efa;
    border-radius: 4px;
    color: white;
    border: none;
}